# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.*

# macOS-specific files
.DS_Store

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
