{
  "name": "__NAME__",
  "version": "0.1.0",
  "description": "__DESCRIPTION__",
  "type": "module",
  "private": true,
  "scripts": {
    "dev": "astro dev",
    "build": "astro check && astro build",
    "preview": "astro preview",
    "astro": "astro",
    "add-collection": "scms-add-collection",
    "add-content": "scms-add-content"
  },
  "dependencies": {
    "@astrojs/check": "^0.9.10",
    "@astrojs/markdown-remark": "^__ASTRO_VERSION__",
    "@lad-sapienza/scms-core": "^__SCMS_VERSION__",
    "astro": "^__ASTRO_VERSION__",
    "bootstrap": "^5.3.8",
    "react": "^__REACT_VERSION__",
    "react-dom": "^__REACT_DOM_VERSION__",
    "maplibre-gl": "^__MAPLIBRE_VERSION__",
    "rehype-slug": "^6.0.0"
  },
  "devDependencies": {
    "@types/react": "^__TYPES_REACT_VERSION__",
    "@types/react-dom": "^__TYPES_REACT_DOM_VERSION__",
    "typescript": "^5.9.3"
  }
}
